public/*
source/*
!public/listeners/*
!public/styleguide/*
!public/patterns/**/*
!public/data/*.js
config.ini
latest-change.txt
*-ck.js
# Source
# logs and tests
*.log
*-ck.js

# images

# local sublime specific
sftp-config.json
*.sublime-project
*.sublime-workspace

# node
node_modules

# bower vendor components
bower_components

# grunt build temp files
_tmp/*
.grunt_init/
.sass-cache/

# Compiled Language files
*.pyc

# system configuration files
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes